/* Fire animation */
.char-card:hover{
  .fire {
    display: block;
  }
}
.fire {
  display: none;
  z-index: -1;
  font-size: 24px;
  filter: blur(0.02em);
  -webkit-filter: blur(0.02em);
  margin: 3em auto 0 auto;
  position: absolute;
  width: 13em;
  height: 8em;
}

.particle {
  animation: rise 1s ease-in infinite;
  background-image: radial-gradient(#ff4500 15%,      /* Naranja rojizo */
  #ff8c00 5%,      /* Naranja claro */
  #ff4500 15%,      /* Naranja rojizo */
  #dc143c 30%,      /* Carmesí */
  #a52a2a 30%,      /* Marrón rojizo */
  #800000  40%, rgba(255, 255, 255, 0) 70%);
  border-radius: 50%;
  mix-blend-mode: screen;
  opacity: 0;
  position: absolute;
  bottom: 0;
  width: 5em;
  height: 5em;
}
.particle:nth-of-type(1) {
  animation-delay: 0.3921534735s;
  left: calc((100% - 5em) * 0);
}
.particle:nth-of-type(2) {
  animation-delay: 0.7298027474s;
  left: calc((100% - 5em) * 0.02);
}
.particle:nth-of-type(3) {
  animation-delay: 0.1144729484s;
  left: calc((100% - 5em) * 0.04);
}
.particle:nth-of-type(4) {
  animation-delay: 0.948843351s;
  left: calc((100% - 5em) * 0.06);
}
.particle:nth-of-type(5) {
  animation-delay: 0.5599839826s;
  left: calc((100% - 5em) * 0.08);
}
.particle:nth-of-type(6) {
  animation-delay: 0.5276761964s;
  left: calc((100% - 5em) * 0.1);
}
.particle:nth-of-type(7) {
  animation-delay: 0.1571921413s;
  left: calc((100% - 5em) * 0.12);
}
.particle:nth-of-type(8) {
  animation-delay: 0.4787776399s;
  left: calc((100% - 5em) * 0.14);
}
.particle:nth-of-type(9) {
  animation-delay: 0.4251983805s;
  left: calc((100% - 5em) * 0.16);
}
.particle:nth-of-type(10) {
  animation-delay: 0.3686321145s;
  left: calc((100% - 5em) * 0.18);
}
.particle:nth-of-type(11) {
  animation-delay: 0.1670885655s;
  left: calc((100% - 5em) * 0.2);
}
.particle:nth-of-type(12) {
  animation-delay: 0.2624864042s;
  left: calc((100% - 5em) * 0.22);
}
.particle:nth-of-type(13) {
  animation-delay: 0.403971768s;
  left: calc((100% - 5em) * 0.24);
}
.particle:nth-of-type(14) {
  animation-delay: 0.4667239351s;
  left: calc((100% - 5em) * 0.26);
}
.particle:nth-of-type(15) {
  animation-delay: 0.8061352348s;
  left: calc((100% - 5em) * 0.28);
}
.particle:nth-of-type(16) {
  animation-delay: 0.5420054662s;
  left: calc((100% - 5em) * 0.3);
}
.particle:nth-of-type(17) {
  animation-delay: 0.140308414s;
  left: calc((100% - 5em) * 0.32);
}
.particle:nth-of-type(18) {
  animation-delay: 0.9347728216s;
  left: calc((100% - 5em) * 0.34);
}
.particle:nth-of-type(19) {
  animation-delay: 0.9163468851s;
  left: calc((100% - 5em) * 0.36);
}
.particle:nth-of-type(20) {
  animation-delay: 0.7154938236s;
  left: calc((100% - 5em) * 0.38);
}
.particle:nth-of-type(21) {
  animation-delay: 0.2621825242s;
  left: calc((100% - 5em) * 0.4);
}
.particle:nth-of-type(22) {
  animation-delay: 0.7104177654s;
  left: calc((100% - 5em) * 0.42);
}
.particle:nth-of-type(23) {
  animation-delay: 0.9408421777s;
  left: calc((100% - 5em) * 0.44);
}
.particle:nth-of-type(24) {
  animation-delay: 0.7918473719s;
  left: calc((100% - 5em) * 0.46);
}
.particle:nth-of-type(25) {
  animation-delay: 0.225953804s;
  left: calc((100% - 5em) * 0.48);
}
.particle:nth-of-type(26) {
  animation-delay: 0.061306096s;
  left: calc((100% - 5em) * 0.5);
}
.particle:nth-of-type(27) {
  animation-delay: 0.9606685922s;
  left: calc((100% - 5em) * 0.52);
}
.particle:nth-of-type(28) {
  animation-delay: 0.0597948933s;
  left: calc((100% - 5em) * 0.54);
}
.particle:nth-of-type(29) {
  animation-delay: 0.2677818512s;
  left: calc((100% - 5em) * 0.56);
}
.particle:nth-of-type(30) {
  animation-delay: 0.3099637402s;
  left: calc((100% - 5em) * 0.58);
}
.particle:nth-of-type(31) {
  animation-delay: 0.4672005131s;
  left: calc((100% - 5em) * 0.6);
}
.particle:nth-of-type(32) {
  animation-delay: 0.3837980711s;
  left: calc((100% - 5em) * 0.62);
}
.particle:nth-of-type(33) {
  animation-delay: 0.0754892386s;
  left: calc((100% - 5em) * 0.64);
}
.particle:nth-of-type(34) {
  animation-delay: 0.3981676387s;
  left: calc((100% - 5em) * 0.66);
}
.particle:nth-of-type(35) {
  animation-delay: 0.501418042s;
  left: calc((100% - 5em) * 0.68);
}
.particle:nth-of-type(36) {
  animation-delay: 0.9216611119s;
  left: calc((100% - 5em) * 0.7);
}
.particle:nth-of-type(37) {
  animation-delay: 0.9462186076s;
  left: calc((100% - 5em) * 0.72);
}
.particle:nth-of-type(38) {
  animation-delay: 0.6648092052s;
  left: calc((100% - 5em) * 0.74);
}
.particle:nth-of-type(39) {
  animation-delay: 0.6092640016s;
  left: calc((100% - 5em) * 0.76);
}
.particle:nth-of-type(40) {
  animation-delay: 0.6127008322s;
  left: calc((100% - 5em) * 0.78);
}
.particle:nth-of-type(41) {
  animation-delay: 0.3871741962s;
  left: calc((100% - 5em) * 0.8);
}
.particle:nth-of-type(42) {
  animation-delay: 0.0256159819s;
  left: calc((100% - 5em) * 0.82);
}
.particle:nth-of-type(43) {
  animation-delay: 0.6852180325s;
  left: calc((100% - 5em) * 0.84);
}
.particle:nth-of-type(44) {
  animation-delay: 0.4173712135s;
  left: calc((100% - 5em) * 0.86);
}
.particle:nth-of-type(45) {
  animation-delay: 0.5072154873s;
  left: calc((100% - 5em) * 0.88);
}
.particle:nth-of-type(46) {
  animation-delay: 0.1121785397s;
  left: calc((100% - 5em) * 0.9);
}
.particle:nth-of-type(47) {
  animation-delay: 0.0765746975s;
  left: calc((100% - 5em) * 0.92);
}
.particle:nth-of-type(48) {
  animation-delay: 0.9860637104s;
  left: calc((100% - 5em) * 0.94);
}
.particle:nth-of-type(49) {
  animation-delay: 0.6919197539s;
  left: calc((100% - 5em) * 0.96);
}
.particle:nth-of-type(50) {
  animation-delay: 0.6658722783s;
  left: calc((100% - 5em) * 0.98);
}

@keyframes rise {
  from {
    opacity: 0;
    transform: translateY(0) scale(1);
  }
  25% {
    opacity: 1;
  }
  to {
    opacity: 0;
    transform: translateY(-10em) scale(0);
  }
}

/* End of fire animation */

.char-card .char-content {
  background: rgb(254,225,29);
  background: radial-gradient(circle, rgba(254,225,29,1) 2%, rgba(251,191,36,1) 26%, rgba(245,158,11,1) 42%, rgba(251,146,60,1) 62%, rgba(194,65,12,1) 83%);
  cursor: pointer;
  .card-title, .card-char-description {
    text-shadow: 2px 2px 4px black;
    color: white;
  }
}

.card-char-bg {
  border-radius: 10px;
  margin: 3% auto;
  background: rgb(255,102,0);
  background: radial-gradient(circle, rgba(255,102,0,1) 8%, rgba(248,226,16,1) 29%, rgba(255,154,72,1) 58%, rgba(222,190,0,1) 72%, rgba(205,203,2,1) 83%, rgba(162,87,17,1) 96%);
  width: 300px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  margin-bottom: 20px;
  position: relative;
  transition: transform 0.3s ease-in-out;
}

.card-char-bg::before {
  content: "";
  position: absolute;
  top: 0; left: 0;
  width: 100%;
  height: 100%;
  border: 8px solid transparent;
  border-radius: 10px; 
  box-sizing: border-box; 
  border-image: url('../imgs/border-char2.jpg') 60 30 round; 
  pointer-events: none;
  }

.card-char-bg:hover {
  transform: scale(1.05);
}

.card-char-description {
  box-shadow: inset 2px 2px 4px black;
  background: rgb(217,119,6);
  background: radial-gradient(circle, rgba(217,119,6,0.303046218487395) 0%, rgba(234,179,8,1) 41%, rgba(166,112,0,1) 76%);
  border-radius: 10px;
  padding: 2%;
  text-align: center;
  font-size: 16px;
  color: #666;
  margin-bottom: 20px;
}


.type-fire:hover, .type-flying:hover {
  transform: scale(1.1);
}

.type-fire {
  text-shadow: 2px 2px 4px black;
  font-size: 14px;
  box-shadow: 2px 2px 4px yellow;
  background: rgb(255,55,0);
  background: radial-gradient(circle, rgba(255,55,0,1) 0%, rgba(240,78,33,1) 14%, rgba(255,145,0,1) 33%, rgba(207,62,62,1) 62%);
  transition: transform 0.4s ease;
}

.type-flying {
  text-shadow: 2px 2px 4px black;
  font-size: 14px;
  box-shadow: 2px 2px 4px white;
  background: rgb(0,131,106);
  background: radial-gradient(circle, rgba(0,131,106,1) 0%, rgba(82,146,136,1) 8%, rgba(125,191,185,1) 22%, rgba(150,158,161,1) 30%, rgba(141,160,166,1) 56%, rgba(128,128,128,1) 75%);
  transition: transform 0.4s ease;
}

.card-char-stats {
  display: flex;
  justify-content: space-evenly;
  font-size: 12px;
  color: #5f5f5f;
  flex-wrap: wrap;
}