.shu-card .shu-content {
  cursor: pointer;
  .card-title, .card-shu-description {
    text-shadow: 2px 2px 4px black;
    color: white;
  }
}

.shu-card .card-image img {
  transform: scale(0.7);
  margin-top: -16%;
}

.card-shu-bg {
  border-radius: 10px;
  margin: 3% auto;
  background: rgb(220,38,38);
background: radial-gradient(circle, rgba(220,38,38,1) 0%, rgba(163,230,53,1) 68%, rgba(77,124,15,1) 100%);
  background-size: 100% 100%;
  width: 300px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  margin-bottom: 20px;
  position: relative;
  transition: transform 0.3s ease-in-out;
}

.card-shu-bg::before {
  content: "";
  position: absolute;
  top: 0; left: 0;
  width: 100%;
  height: 100%;
  border: 8px solid transparent;
  border-radius: 10px; 
  box-sizing: border-box; 
  border-image: url('../imgs/border-shu.jpg') 60 30 round; 
  pointer-events: none;
}

.card-shu-bg:hover {
  transform: scale(1.05);
}

.card-shu-description {
  box-shadow: inset 2px 2px 4px black;
  background: rgb(220,38,38);
background: linear-gradient(45deg, rgba(220,38,38,1) 0%, rgba(145,204,49,1) 52%, rgba(77,124,15,1) 100%);
  border-radius: 10px;
  padding: 2%;
  text-align: center;
  font-size: 16px;
  color: #666;
  margin-bottom: 20px;
}

.card-shu-stats {
  display: flex;
  justify-content: space-evenly;
  font-size: 12px;
  color: #5f5f5f;
  flex-wrap: wrap;
}