.haw-card .haw-content {
  background: rgb(88,49,22);
background: linear-gradient(246deg, rgba(88,49,22,1) 0%, rgba(133,93,64,1) 49%, rgba(89,89,89,1) 100%);
  cursor: pointer;
  .card-title, .card-haw-description {
    text-shadow: 2px 2px 4px black;
    color: white;
  }
}

.haw-card .card-image img {
  transform: scale(0.85);
  margin-top: -20%;
  margin-left: -2%;
}

.card-haw-bg {
  border-radius: 10px;
  margin: 3% auto;
  background: rgb(255,106,106);
background: linear-gradient(246deg, rgba(255,106,106,1) 32%, rgba(133,93,64,1) 70%, rgba(89,89,89,1) 100%);
  background-size: 100% 100%;
  width: 300px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  margin-bottom: 20px;
  position: relative;
  transition: transform 0.3s ease-in-out;
}

.card-haw-bg::before {
  content: "";
  position: absolute;
  top: 0; left: 0;
  width: 100%;
  height: 100%;
  border: 8px solid transparent;
  border-radius: 10px; 
  box-sizing: border-box; 
  border-image: url('../imgs/border-haw.jpg') 60 30 round; 
  pointer-events: none;
}

.card-haw-bg:hover {
  transform: scale(1.05);
}

.card-haw-description {
  box-shadow: inset 2px 2px 4px black;
  background: rgb(117,65,28);
background: linear-gradient(133deg, rgba(117,65,28,1) 0%, rgba(167,116,80,1) 49%, rgba(112,112,112,1) 100%);
  border-radius: 10px;
  padding: 2%;
  text-align: center;
  font-size: 16px;
  color: #666;
  margin-bottom: 20px;
}

.type-fighting:hover {
  transform: scale(1.1);
}

.type-fighting {
  text-shadow: 2px 2px 4px black;
  font-size: 14px;
  box-shadow: 2px 2px 4px black;
  background: rgb(117,65,28);
background: linear-gradient(133deg, rgba(117,65,28,1) 0%, rgba(230,100,100,1) 43%, rgba(167,75,75,1) 100%);
  transition: transform 0.4s ease;
}

.card-haw-stats {
  display: flex;
  justify-content: space-evenly;
  font-size: 12px;
  color: #5f5f5f;
  flex-wrap: wrap;
}