.umb-card .umb-content {
  background: rgb(34,35,39);
background: linear-gradient(144deg, rgba(34,35,39,1) 0%, rgba(46,66,95,1) 26%, rgba(46,45,112,1) 43%, rgba(101,23,132,1) 65%, rgba(12,16,95,1) 95%);
  cursor: pointer;
  .card-title, .card-umb-description {
    text-shadow: 2px 2px 4px black;
    color: white;
  }
}

.umb-card .card-image img {
  transform: scale(0.9);
  margin-top: -6%;
  margin-left: -10%;
}

@keyframes gradient {
  0%, 100% {
    background: radial-gradient(circle at center, rgb(149, 0, 152) 0%, rgb(160, 65, 179) 15%, rgba(252,70,107,1) 29%, rgba(85,35,160,1) 44%, rgba(20,22,105,1) 71%, rgba(135,2,192,1) 98%);
    background-size: 100% 100%;
    background-position: 70% 50%;
}
25% {
  background: radial-gradient(circle at center, rgba(252,0,255,1) 0%, rgba(230,99,255,1) 15%, rgb(234, 70, 252) 29%, rgba(85,35,160,1) 44%, rgba(20,22,105,1) 71%, rgba(135,2,192,1) 98%);
    background-size: 120% 120%;
    background-position: 20% 60%;
}
50% {
  background: radial-gradient(circle at center, rgba(252,0,255,1) 0%, rgba(230,99,255,1) 15%, rgb(217, 53, 235) 29%, rgba(85,35,160,1) 44%, rgb(33, 35, 144) 71%, rgba(135,2,192,1) 98%);
    background-size: 140% 140%;
    background-position: 30% 60%;
}
75% {
  background: radial-gradient(circle at center, rgba(252,0,255,1) 0%, rgba(230,99,255,1) 15%, rgba(252,70,107,1) 29%, rgba(85,35,160,1) 44%, rgb(34, 35, 147) 71%, rgba(135,2,192,1) 98%);
    background-size: 160% 190%;
    background-position: 30% 60%;
}
}

.card-umb-bg:hover {
  animation: gradient 0.4s ease infinite;
}

.card-umb-bg {
  border-radius: 10px;
  margin: 3% auto;
  background: radial-gradient(circle at center, rgba(252,0,255,1) 0%, rgba(230,99,255,1) 15%, rgba(252,70,107,1) 29%, rgba(85,35,160,1) 44%, rgba(20,22,105,1) 71%, rgba(135,2,192,1) 98%);
  background-size: 100% 100%;
  width: 300px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  margin-bottom: 20px;
  position: relative;
  transition: transform 0.3s ease-in-out;
}

.card-umb-bg::before {
  content: "";
  position: absolute;
  top: 0; left: 0;
  width: 100%;
  height: 100%;
  border: 8px solid transparent;
  border-radius: 10px; 
  box-sizing: border-box; 
  border-image: url('../imgs/border-umb.jpg') 60 30 round; 
  pointer-events: none;
}

.card-umb-bg:hover {
  transform: scale(1.05);
}

.card-umb-description {
  box-shadow: inset 2px 2px 4px black;
  background: rgb(31,41,55);
  background: linear-gradient(90deg, rgba(31,41,55,1) 0%, rgba(75,85,99,1) 33%, rgba(120,37,135,1) 67%, rgba(112,26,117,1) 100%);
  border-radius: 10px;
  padding: 2%;
  text-align: center;
  font-size: 16px;
  color: #666;
  margin-bottom: 20px;
}

.type-dark:hover {
  transform: scale(1.1);
}

.type-dark {
  text-shadow: 2px 2px 4px black;
  font-size: 14px;
  box-shadow: 2px 2px 4px #5978F3;
  background: rgb(10, 95, 80);
  background: radial-gradient(circle, rgb(80, 36, 117) 0%, rgb(134, 79, 147) 8%, rgb(96, 43, 134) 22%, rgb(85, 91, 94) 30%, rgb(43, 60, 65) 56%, rgb(74, 57, 57) 75%);
  transition: transform 0.4s ease;
}

.card-umb-stats {
  display: flex;
  justify-content: space-evenly;
  font-size: 12px;
  color: #5f5f5f;
  flex-wrap: wrap;
}