/* Reset de estilos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("imgs/FondoGrietas.png");
    background-size: cover; /* Hace que la imagen se ajuste para cubrir toda la pantalla */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    background-attachment: fixed;
    color: #fff;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

header {
    background: linear-gradient(to bottom, #111, #333, #222);
    color: #fff;
    padding: 20px;
    text-align: center;
    border-bottom: 5px solid #555;
    border-right: 4px solid #555;
    border-radius: 10px;
    transition: transform 0.3s ease;
}

header h1 {
    color: #fff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    margin-bottom: 10px;
    padding: 0px 20px;
}

.navbar {
    background-color: #222;
    padding: 10px;
    width: 80%;
    margin: 0 auto;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 1.5);
    border-radius: 10px;
    position: relative; /* Añadimos posición relativa para el contenedor */
    overflow: hidden; /* Evita que el humo se salga del contenedor */
}

.navbar::before {
    content: '';
    position: absolute;
    top: -20%;
    left: -20%;
    width: 140%;
    height: 140%;
    background: radial-gradient(circle, #f87171ec 10%, rgba(255, 255, 255, 0) 30%);
    animation: smoke 4s infinite linear;
    opacity: 1;
    mix-blend-mode: overlay;
    border-radius: 50%;
    pointer-events: none; /* Evitar que el humo afecte a la interacción del navbar */
}

.navbar:hover::before {
    opacity: 1; /* Hacemos visible el humo al pasar el ratón por encima */
}

@keyframes smoke {
    0% {
        transform: scale(1.4) translate(-10%, -20%);
        opacity: 0.5;
    }
    50% {
        transform: scale(1.2) translate(10%, 20%);
        opacity: 0.8;
    }
    100% {
        transform: scale(1.4) translate(-10%, -20%);
        opacity: 0.6;
    }
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

.navbar ul li {
    text-shadow: 4px 4px 8px black;
    display: inline-block;
    margin-right: 20px;
    position: relative; /* Añadido */
}

.navbar ul li:last-child {
    margin-right: 0;
}

.navbar ul li a {
    color: #ccc;
    text-decoration: none;
    padding: 10px 20px;
    display: inline-block;
    transition: all 0.3s;
    position: relative; /* Establecer posición relativa para que los pseudo-elementos sean relativos a este */
}

.navbar ul li a::before,
.navbar ul li a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px; /* Posición ligeramente debajo del texto */
    width: 100%;
    height: 2px; /* Grosor de la grieta */
    background-color: transparent; /* Color de la grieta */
    transition: background-color 0.3s, transform 0.3s;
}

.navbar ul li a::before {
    transform: scaleX(0); /* Inicialmente, la grieta está cerrada */
    margin-bottom: 5%;
}

.navbar ul li a::after {
    transform: scaleX(0); /* Inicialmente, la grieta está cerrada */
    margin-bottom: 5%;
}

.navbar ul li a:hover::before,
.navbar ul li a:hover::after {
    background-color: #7f1d1d; /* Color de la grieta al pasar el ratón */
    box-shadow: 1px 1px 2px black;
    margin-bottom: 5%;
    transform: scaleX(1); /* Abrir la grieta al pasar el ratón */
}

.post-image {
    position: relative;
    width: 100%;
    height: 300px;
    overflow: hidden;
    border-radius: 10px;
}

.post-image img {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
    border-radius: 10px;
    box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.5);
}

/* Estilos para los posts */
.post-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 20px;
}

.post-section, .wide-post-section {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


.post-section, .wide-post-section h2 {
    color: #333;
    margin-bottom: 10px;
}

.post-section, .wide-post-section p {
    color: #666;
    line-height: 1.6;
}

main {
    background-color: rgba(255, 255, 255, 0.2);
    margin-top: 2%;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.main-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 20px;
    padding: 20px;
}

.article-container {
    text-align: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.article-container:hover {
    cursor: pointer;
    transform: scale(1.05);
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.6);
}

.article-title {
    color: #333;
    margin-bottom: 6%;
}

.article-content {
    color: #666;
    margin-top: 10%;
}

footer {
    background: linear-gradient(to bottom, #4a4e69, #2b2e42);
    color: #fff;
    text-align: center;
    padding: 20px;
    border-top: 4px solid #2b2e42;
    border-radius: 10px;
    margin-top: 20px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.4);
    transition: transform 0.3s ease;
}

footer:hover {
    transform: translateY(-4px);
    transform: scale(1.05);
}